body {
    /* background-image: url("white-grungy-wall-textured-background.jpg"); */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Creates a shadow below the element */
}


.linkBtn {
    height: 3rem;
    margin: 0.5rem 1rem;
    border-radius: 5rem;
    max-width: 10rem;
    /* width: 10rem; */
}

.active {
    background-color: limegreen !important;
    color: limegreen;
}

.wholeContent {
    height: 100%;
    background-color: aliceblue;
    /* background-image: url(../static/images/white-grungy-wall-textured-background.jpg); */
    /* display: flex;
    align-items: center; */
    
}

/* .itemsContainer {
    height: 100%;
} */

.itemsGrid {
    /* background-color: red; */
    height: 90%;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.itemContainer {
    /* height: 50%; */
    height: 40%;
    width: 40%; 
    margin: 5%;
    /* text-align: center; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Creates a shadow below the element */
}

.icon {
    height: 5rem;
    /* margin: 0 auto;
    display: block; */
    margin-bottom: 1rem;
}

.orderBtn {
    /* height: 70%; */
    /* width: 10rem; */
    display: flex;
    align-items: center;
    text-align: center;
}

#homepageInputContainer {
    background-color: honeydew;
    height: 80%;
    border-radius: 5rem;
    margin: 2% 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Creates a shadow below the element */
}


#topBar {
    padding: 0.5rem 0;
    background-color: honeydew;
}

#orderBtnGroup {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .itemContainer {
        height: 40%;
        width: 100%;
        margin: 0 0 1rem 0;
    }
}